/* color palette from <https://github.com/vuejs/theme> */
:root {
  --cyan: #156B64;
  --kobe: #8C2A13;
  --white: #FFFFFF;
  --almond: #ECE2D0;

  --rose: #A26769;
  --venetian: #F4DBD8;
  --seagreen: #10B4A6;
  --black: #000000;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-green: var(--cyan);
  --color-background-almond: var(--almond);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
